USE [master]
GO
/****** Object:  Database [Cafedb]    Script Date: 10/11/2022 1:18:01 PM ******/
CREATE DATABASE [Cafedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cafedb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cafedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cafedb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cafedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cafedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cafedb]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 10/11/2022 1:18:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[Uname] [varchar](50) NOT NULL,
	[Uphone] [varchar](50) NOT NULL,
	[Upassword] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Upassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
